<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="h-screen waves-bg">
    <div class="py-24 px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">PVM Calculator</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Įveskite prekės pavadinimą, kainą ir kiekį, kad apskaičiuoti PVM.</p>
        </div>
        <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
            <div class="grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-3">
                <div>
                    <label for="name" class="block text-sm font-semibold leading-6 text-gray-900">Pavadinimas</label>
                    <div class="mt-2.5">
                        <input type="text" name="name" id="name" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <label for="quantity" class="block text-sm font-semibold leading-6 text-gray-900">Kiekis</label>
                    <div class="mt-2.5">
                        <input type="number" value="1" name="quantity" id="quantity" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="price" class="block text-sm font-semibold leading-6 text-gray-900">Price</label>
                    <div class="relative mt-2.5 rounded-md">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <span class="text-gray-500 sm:text-sm">€</span>
                        </div>
                        <input type="text" name="price" id="price" class="block w-full rounded-md border-0 py-2 pr-7 pl-3.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="0.00">
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Skaičiuoti</button>
            </div>
            <div class="mt-5 text-red-500" th:if="${general_error}!=null" th:text="${general_error}"></div>
        </form>
    </div>
</body>
</html>